@font-face {
	font-family: Tehzeeb;
	src: url(Overlock_SC/OverlockSC-Regular.ttf);
}

/* Global styles */
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Inter, sans-serif;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
}

/* Header styles */
.header .container-fluid {
    padding-left: 0px;
}

.logo {
    height: 80px;
    width: 80px;
}

.na {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.link {
    display: flex;
    list-style: none;
    margin-bottom: 0px;
}

.list {
    position: relative; /* This is key for positioning the dropdown */
}

.list a {
    margin: 30px;
    font-size: 22px;
    color: #583422;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 2px 6px;
}

.list a:hover {
    color: #583422;
    background-color: #f7d7d2;
    border-radius: 5px;
    padding: 2px 6px;
    border: 1px solid #f7d7d2;
}

/* Dropdown menu styles */
.dropdown-menu-head {
	width: 550px;
	height: 240px;
	background-color: #ffffff00;
	z-index: 100;
	position: absolute;
    left: 15%;
    top: 15px;
	border-radius: 10px;
}
.dropdown-menu {
    width: 550px;
    background-color: white;
    border: none;
    display: block;
    z-index: 100;
    margin-top: 30px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 4px 8px 0 #35394433;
}

.dropdown-menu div {
    display: inline-block;
}

.dropdown-menu .col-12 {
    margin-top: -10px;
}

.dropdown-menu a {
    display: block;
    text-decoration: none;
    background-color: white;
    font-size: 14px;
    margin: 10px;
}

.dropdown-menu a:hover {
    color: #bf6d5f;
    background-color: #fff;
    border: 1px solid #fff;
}

/* Show the dropdown menu when hovering on the link or the dropdown itself */
.list:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

  
/*product hover*/

/*about*/
.third{font-size: 45px;}
.about-content{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.about-content h3,
.testimonial h4{
	font-family: Tehzeeb;
	color: #583422;
}
.about-content p,
.about-content h3{text-align: center;}
.bttn{background-color: rgb(178, 221, 211)!important;}
.bttn:hover{background-color: #7c3d1e!important;color: rgb(178, 221, 211)!important;}
.bttn a:hover{color: rgb(178, 221, 211)!important;}
/*about*/

/*card*/
.pro{
	padding-top: 80px;
	text-align: center;
	background-color: #fdd5c9;
}
.pro p{
	font-size: 20px;
	white-space: 5px;
	letter-spacing: 2px;
	padding-bottom: 45px;
	color: #7c3d1e;
}
.cards{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.item{
	padding: 2px;
}
.item .card_image{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	transition: transform;
}
.item:hover,
.card-head .shadow:hover,
.gift-content .shadow:hover,
.tea-content .shadow:hover{
	cursor: pointer;
	transform: translateY(-0.9rem);
	transition: all 0.2s linear;
	opacity: 0.7;
}
.item div img{
	width: 300px;
	padding: 20px;
}
.card-btn{
	background-color: #fedfda;
	color:  #7c3d1e;
	border: 1px solid #7c3d1e;
	padding: 8px 22px;
	margin-top: 80px;
	margin-bottom: 50px;
	font-size: 18px;
	font-weight: bold;
	font-family: Tehzeeb;
}
.card-btn:hover{
	border: 1px solid #7c3d1e;
	background-color: #7c3d1e;
	color: #fedfda;
}
.card-btn a{color: #7c3d1e;}
.card-btn a:hover{color: #fedfda;}
/*card*/

/*Gift*/
.container{
    height: 650px;
    display:flex;
   	margin-top: 120px;
  	justify-content: center;
   	justify-content: space-around;
}
.container img:hover,
.container1 img:hover{opacity: 0.7;}
.text{
	margin-top: 150px; 
 }
 .text h1{
	text-align: left;
	font-size: 40px;
}
.text p{
    font-size: 17px;
}
/*Gift*/

/*Tea*/
.container1{
	background-image: url(Images/bcg-gif.webp);
	background-size: cover;
	background-position: bottom;
    height:800px;
    display:flex;
    padding-top: 140px;
    justify-content: center;
    justify-content: space-around;
}
/*Tea*/

/*Testimonials*/
.testimonial{
	height: 400px;
	background-image: url(Images/testimonial.webp);
	background-position: top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#demo2 .carousel-item{width: 210vh;}
#demo2 .carousel-control-prev-icon,
#demo2 .carousel-control-next-icon{
	background-color: #7c3d1e;
}
/*Testimonials*/

/*special*/
.special{background-color:#f6d79040;}
.special-head{
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.special-one{font-size: 18px!important;padding-bottom: 20px}
/*special*/

/*order*/
.want-order{
	background-image: url(Images/Bakery39.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
}
.want-order p{
	color: #7c3d1e;
	text-align: center;
}
/*order*/

/*arrow*/
.go-to-top{
	background-color: #fff;
	color: #7c3d1e;
	padding: 5px 10px 2px 10px;
	font-size: 20px;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	box-shadow: 1px 2px 6px 4px #35394433;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
/*arrow*/

/*footer*/
.footer{
	height: 450px;
	background-color: #fedfda;
	padding-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: start;
}
.footer div p{
cursor: pointer;
font-size: 12px!important;
}
.footer div p:hover{
color: #bf6d5f;
}
.footer div p button,.footer div p input{
margin: 0px;
font-size: 12px;
background-color: #fedfda;
}
.footer div p input:hover{background-color: #fedfda;}
.info-icon{
cursor: pointer;
text-decoration: none;
padding: 13px 0px;
border-radius: 50%;
}
::placeholder{
	color: black;
}

/*footer*/
